<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class='bg border border-danger'>
   <div class="text-right mx-5 mt-4">
       <a style="border-radius: 25px" class="btn btn-outline-light px-3">home</a>
   </div>
    <div style="margin-top:200px;background-color: rgba(255,244,244,0.2)"  class="">
        <h1 class="text-light text-center">You been logged out successfully.</h1>
    </div>
    <div class="text-center mt-3">
    <a style="border-radius: 25px;" class="btn btn-outline-light px-4 mr-5" href="/login/user">Login</a>
    <a style="border-radius: 25px" class="btn btn-outline-light px-3" href="/register/user">Register</a>
    </div>
</body>
</html>