

.bg {
    /* The image used */
    background-image: url('../images/Hydrogen.jpg');

  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.bg-spl{
    /* The image used */
    background-image: url('/images/back.jpg');

    /* Full height */
    top:0;
    bottom:0;
    padding:50px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.effect{
    background-color: rgba(245, 244, 244,0.2);
    border-radius: 25px;
}
.item-effect{
    border-radius: 25px;
    transition: 0.5s
}

.item-effect:hover,.effect:hover{
   background-color: rgba(255,255,255,0.3);

}



.navbar-effect{
    background-color: rgba(245, 244, 244,0.2);
    border-radius: 25px;
}

.navbar-effect:hover{
    background-color:rgba(182, 141, 206,0.2)
}




.navbar-nav .nav-item .nav-link {
    color: rgb(222, 222, 222);
    transition: 0.5s
    
}
.navbar-nav .nav-item .nav-link:hover{
    color: white;
    border-bottom: 1px solid white;
    font-weight: 400
}





/*------------signup---------------*/


.input-style{
    background-color: rgba(245, 244, 244,0.6);
    border: none;
}
.input-style:focus{
    border:1px solid white;
    background: none;
}


.selectbox{
    background-color: rgba(245, 244, 244,0.6);   
    border:solid 1px white;
    border-radius:25px
}

.admin{
    border:solid 1px white;
    border-radius: 25px 0 0 25px;
    border-right: solid 1px white;
}

.admin:hover{
    border:none;
    border-radius: 25px 0 0 25px;
    background-color:rgba(254, 172, 148,0.5)

}
.link:hover{
    text-decoration: none;
}

.user{
    border:solid 1px white;
    border-radius: 0px 25px 25px 0px;
    border-left: solid 1px white;
    
}

.user:hover{
    border:none;
    border-radius: 0px 25px 25px 0px;
    background-color:rgba(254, 172, 148,0.5)
}

/*----------------------adminUI----------------------------------*/

.ikon{
    border:none;
    height:55px;width:55px;
    font-size: 36px;
    border-radius:50px;
    padding-top:10.5px;
    border:solid 1px white;
    transition: 0.5s
}
.ikon:hover{
    border:none;
    background-color: rgba(245, 244, 244,0.3);
    color:white;

}

.modal-style{
    color:black
    
}

/*--------------------manage------------------------------------*/

.item{
    background: none;
    text-align: center;
    color: white;
    border-bottom: solid 1px white;
    transition:0.5s
    
}
.item:hover{
    background-color: rgba(245, 244, 244,0.3);

}
.litem{
    background-color: rgba(245, 244, 244,0.2);
    margin-top: 5px;
    color:white;
    border:none
}

.litem:hover{
    background-color: rgba(245, 244, 244,0.3);   
    height:48px
}

.ok,.del{
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}

.litem:hover .ok,.litem:hover .del{
    float:right;
    display:inline; 
}

.ok:active,.del:active { 
    transform: translateY(2px);
}

.ok:focus,.del:active{
    border:none;
}

.del,.ok{
    transition: 0.5s
}




/*------------------------staff----------------------------------*/

.trow:hover{
    background-color: rgba(245, 244, 244,0.3);   
}

td:hover .del{
        float:right;
    display:inline;
}




/*-------------------------LOGIN---------------------------------*/

.bg-login{
    /* The image used */
    background-image: url('/images/Hydrogen.jpg');

    /* Full height */
    position:fixed;
    top:0;
    bottom:0;
    left:0;right:0;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-button{
    border-radius: 25px
}

.activee{
    border:none;
    background-color: rgba(245, 244, 244,0.3);
}

/*------------scanner----------------------------------------*/

.otp-display{
    background: none;
    text-align: center;
    font-size: 40px;
    border-radius:15px;
    height: 100px;
    background-color: rgba(245, 244, 244,0.3);    
        
}

.otp-display:focus{
    background: none
}



/*--------userUI---------------------------------------------------*/
.view{
    display: none
}
